.create-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input-section{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    margin: 0 20px 0 20px;
}