.top{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(200, 0, 255);
    height: 150px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px ;
}
.planet-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about{
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.left{
    text-align: left;
    margin-left: 20px;
}
.right{
    text-align: right;
    margin-right: 20px;
}

.planet{
    width: 800px;
    text-align: center;
    font-size: 28px;
}
.planet-name{
    margin-bottom: 50px;
}
