
.draw-canvas {
    border: 1px solid black;
}

.controls {
    margin-top: 10px;
}

.icon {
    cursor: pointer;
    width: 40px; 
    height: 40px;
    margin-right: 10px;
    transition: transform 0.2s; 

.icon:hover {
    transform: scale(1.1); 
}

.selected {
    border: 2px solid blue; 
}

.image-container {
    margin-top: 20px;
}

#drawingImage {
    display: none; 
    margin-top: 20px;
    border: 1px solid black; 
    width: 100%; 
    height: auto; 
}


button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}


button:hover {
    background-color: #0056b3; 
}
}